# ide
.idea
.project
.cproject
.settings

# builder
.autotools
acinclude.m4
aclocal.m4
autom4te.cache
build
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
*.la
*lo
*loT
*.a
*.o
*.deps
*.libs
*.log
Makefile*
tmp-php.ini

# tests
run-tests.php
/tests/*/*
/tests/*/*/*
!/tests/*/*/
!/tests/*/*.phpt
!/tests/*/*/*.phpt
!/tests/include/*
!/tests/include/lib/*
!/tests/runner/*

# config
config*
!config.m4
!config.w32

# others
/debug
