name: tests for latest PHP

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    # upstream shivammathur/php-builder* run at 23:30+0000 per day
    - cron:  '42 3 * * *'

jobs:
  unix-tests:
    name: PHP latest Test on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
      max-parallel: 2
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup extension dependencies
        run: |
          if [ ${{ runner.os }} = 'Linux' ]
          then
            sudo apt-get update
            sudo apt-get install -yqq libcurl4-openssl-dev
          fi

      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '8.2'
          tools: phpize
          # ini-values: pcov.directory=lib
          # coverage: pcov
          coverage: none
          extensions: curl,openssl
        #env:
          #phpts: ${{ matrix.ts }}

      - name: Setup composer dependencies
        run: composer update -o --ignore-platform-reqs

      - name: Build Swow extension
        run: |
          cd ext
          printf "\033[1mRun phpize\033[0m\n"
          phpize
          printf "\033[1mStart configure\033[0m\n"
          ./configure --enable-swow\
            --enable-swow-debug \
            --enable-swow-ssl=${{ runner.os == 'Linux' && 'yes' || '/usr/local/opt/openssl' }} \
            --enable-swow-curl=${{ runner.os == 'Linux' && 'yes' || '/usr/local/opt/curl' }}
          printf "\033[1mStart build Swow\033[0m\n"
          make -j`${{ runner.os == 'Linux' && 'nproc' || 'sysctl -n hw.logicalcpu' }}`
          printf "\033[1mDone build Swow\033[0m\n"
          php -n -d extension=.libs/swow.so --ri swow
          printf "\033[1mInstall Swow\033[0m\n"
          ${{ runner.os == 'Linux' && 'sudo' || ''}} make install-modules

      - name: Run extension tests
        id: ext-test
        continue-on-error: true
        run: |
          composer test-extension

      - name: Run library tests
        run: composer test-library

      - name: Fail if anything failed
        if: steps.ext-test.outcome != 'success'
        run: exit 1

  windows-tests:
    name: PHP latest ${{ matrix.ts }} Test on Windows
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2019']
        ts: [ 'nts', 'ts' ]
      max-parallel: 2
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      # TODO: windows varient of setup-php seems to be so slow
      #       shell we add caches?
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '8.2'
          # ini-values: pcov.directory=lib
          # coverage: pcov
          coverage: none
          extensions: curl,openssl
        env:
          phpts: ${{ matrix.ts }}

      - name: Build Swow extension
        uses: ./.github/workflows/winext
        with:
          phpver: '8.2'
          phpts: ${{ matrix.ts == 'ts' && '1' || '0' }}
          ext-path: ./ext
          tools-path: C:\tools\phpdev
          conf-args: --enable-swow-debug --enable-swow-ssl --enable-swow-curl
          ext-name: swow
          staging-deps: '1'
          deps: openssl,libcurl,libssh2,zlib,nghttp2

      - name: Setup composer dependencies
        run: composer update -o --ignore-platform-reqs

      - name: Run extension tests
        shell: cmd
        id: ext-test
        continue-on-error: true
        run: |
          composer test-extension

      - name: Run library tests
        run: composer test-library

      - name: Fail if anything failed
        if: steps.ext-test.outcome != 'success'
        run: exit 1
