name: Update docs

on:
  push:
    branches: [ 'develop', 'ci' ]

jobs:
  call:
    if: github.repository_owner == 'swow'
    name: Call docs repository workflow
    runs-on: ubuntu-latest
    steps:
      - name: Call update
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.DOCS_TOKEN }}
          event-type: update
          repository: 'toastrun/docs.toast.run'
          client-payload: '{ "swow_ref": "${{ github.sha }}" }'
